<div class="row row-sm-3">
    <div class="title">
        <h3>Cập nhật sinh viên</h3>
    </div>
    <form [formGroup]="formStudent" (submit)="updateStudent()">
        <div class="mb-3">
            <label for="" class="">Tên sinh viên</label>
            <input type="text" formControlName="name" class="form-control">
        </div>
        <div *ngIf="formStudent.controls['name'].invalid &&(formStudent.controls['name'].touched || formStudent.controls['name'].dirty)">
            <span class="text-danger" *ngIf="formStudent.controls['name'].errors?.['required']">
                Hãy nhập tên sinh viên
            </span>
        </div>
        <div class="mb-3">
            <label for="" class="">Email</label>
            <input type="email" formControlName="email" class="form-control">
        </div>
        <div *ngIf="formStudent.controls['email'].invalid &&(formStudent.controls['email'].touched || formStudent.controls['email'].dirty)">
            <span class="text-danger" *ngIf="formStudent.controls['email'].errors?.['required']">
                Email không được để trống
            </span>
            <span class="text-danger" *ngIf="formStudent.controls['email'].errors?.['email']">
                Email không đúng định dạng
            </span>
        </div>
   
     
        <div class="mb-3">
            <button [disabled]="formStudent.invalid" class="btn btn-primary">Cập nhật</button>
        </div>
    </form>
  </div>