<div class="limit">
    <div class="login-container">
        <div class="bb-login">
            <form class="bb-form validate-form"> <span class="bb-form-title p-b-26">  Đăng Ký  Quiz Online  </span> <span class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="password">Mật khẩu</label>
                    <input type="password" id="password" class="form-control" placeholder="password...">
                </div>
                <div class="mb-3">
                    <label for="repassword">Nhập lại mật khẩu</label>
                    <input type="password" id="repassword" class="form-control" placeholder="nhập lại password...">
                </div>
                <div class="login-container-form-btn">
                    <div class="bb-login-form-btn">
                        <div class="bb-form-bgbtn"></div> <button class="bb-form-btn"> Đăng Ký </button>
                    </div>
                </div>
                <div class="text-center p-t-115"> <span class="txt1"> Bạn có tài khoản ? </span> <a class="txt2" routerLink="/login"> Đăng Nhập</a> </div>
            </form>
        </div>
    </div>
</div>
